#conteiner{
    width: 1035px;
    margin: 0 auto;
}
#conteiner-content{
    width: 870px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#subconteiner-menu{
    color: 666666;
    font-family: Arial, Helvetica, sans-serif;

}
.menu{
    margin:0 auto;
    padding: 0;
    text-decoration: none;
    margin-left: 73px;
    margin-top: 35px;
}
.menu li{
    display: inline;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
    
  }
  a{
      text-decoration: none;
      color: #676766;
      text-decoration: none;

  }
  .line{
    border-bottom: 6px solid #676766;
    margin-bottom: 6px;
    padding-bottom: 6px;
  }
  .menu  li{
    margin-right: 50px;
  }
  /****************
      menu end
*****************/

.title{
    margin-top: 28px;
    color: #d3001c;
}
p{
    color: #666666;
    height: 20px;
    font-size: 14px;
}

.title3{
    color:#8c0013;
    margin-top: 60px;
    font-size: 18px;
}
h2{
    color: #d3001c;
}
h4{
    color: #707070; 
   font-family:Arial, Bold , sans-serif;

}
.box{
    width: 450px;
    background-color: #f5f3f3;
    border-top: 2px solid  #cac8c8  ;
    border-right: 2px solid  #cac8c8 ;
    border-bottom: 2px solid  #cac8c8 ;
    border-left: 2px solid  #cac8c8;
    height: 340px;
    float: left;
    display: inline;
    margin-left: 15px;
    margin: 0;
    
}
.box2{
    background-color: #f5f3f3;
    border-top: 2px solid  #cac8c8  ;
    border-right: 2px solid  #cac8c8 ;
    border-bottom: 2px solid  #cac8c8 ;
    border-left: 2px solid  #cac8c8;
    margin: 0;
}
box + box2{
    margin-left: 65px;
} 


/****************
  content end
*****************/